.event-kind-select {
  width: 300px !important;
}

.heading {
  margin-bottom: 24px !important;
}

#registered-events {
  padding: 10px;

  max-height: 130px;
  overflow-y: scroll;

  color: #333;
  background-color: #f4f4f4;
}
